<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome Page</title>
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--    custom css stuff-->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
</head>
<body>
<main>
    <div class="cool-image-login"  >
        <a  id="hero-logo" href="/login" >
            <img class="img-fluid" src="/img/gwiterlogo2.png" alt="Animated-image-sun">
        </a>
        <h1 id="already-member">Already a member?</h1>
        <p id="company-promise">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad amet animi architecto, assumenda autem consectetur dicta distinctio esse eveniet ex explicabo illo laudantium nihil non, placeat, repudiandae sunt tempore.
        </p>
        <!--    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>-->
    </div>
    <div alt="results-story">

        <img src="/img/Iphone-placeholder.jpg" class="img-fluid float-right" alt="Responisve image">
        <blockquote class="blockquote text-center">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>
    <div class="section-video">
        <div alt="inclusivity-title-flag">

            <img alt="rainbow-flag"        >
        <title alt="inclusivity-title-text">Love is thrilling</title>
        </div>
        <img alt="embed-video"   src="/static/img/large-hero1.jpg">
    </div>

    <a class="btn btn-primary btn-lg" id="signup-button" href="/signup" role="button">Signup</a>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

</body>
</html>