<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Following Posts</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/user-details.css">
</head>
<body>


<header>
    <div th:replace="/fragments/nav-header"/>

</header>

<main>

    <h1>Feed</h1>

    <article th:each="post : ${allUserPosts}">
        <div class="post-header">
            <div class="post-date-container">
                <p class="date" th:text="${post.createdAt}"></p>
            </div>
            <div >
                <a class="profile" th:href="${'/user/' + appUserId}"
                   th:text="${appUserName}"></a>
            </div>

        </div>
        <div class="postcontent-container">
            <p th:text="${post.text}"></p>
        </div>
<!--        <p th:text="${post.replyList.get(0).reply}"></p>-->
        <div th:if="${post.getReplyList() != null}"th:each="reply : ${post.getReplyList()}">
            <p th:text=" ${reply.reply}"></p>
            <p th:text=" ${reply.replyDate}"></p>
        </div>
        <div>
            <form action="/add-Reply" method="post">
                <fieldset>
                    <legend>Reply!</legend>
                    <label for="reply">Reply</label>
                    <input type="text" name="reply" id="reply" >
                    <input type="hidden" name="id" th:value="${post.id}">

                    <input type="submit" value="Submit Post">
                </fieldset>
            </form>
        </div>
    </article>
</main>
</body>
</html>