<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/fragments/nav-header"/>

<img src="/img/default-profile.png"/>
<ul>
    <li th:text="${user.firstName + ' ' + user.lastName}"></li>
    <br>
    <li th:text="${user.dateOfBirth}"></li>
    <br>
    <li th:text="${user.bio}"></li>

</ul>

<div class="col-md-8 mx-auto">
    <h2>Upload File Example</h2>
    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Upload File</button>
    </form>
</div>


<form action="/add-post" method="post">
    <fieldset>
        <legend>Make A Post!</legend>
        <label for="text">Text</label>
        <input type="text" name="text" id="text" >

        <input type="submit" value="Submit Post">
    </fieldset>
</form>


<h1>Posts</h1>

<ul th:each="post : ${posts}">
    <li th:text="${post.text + ' '+ post.createdAt}"></li>
</ul>




<br>
</body>
</html>