<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Users Info</title>
</head>
<body>
<div th:replace="/fragments/nav-header"/>

<h1 th:text="${' User info for user : ' + appUserId}"></h1>
<img src="/img/default-profile.png"/>
<p th:text="${appUsername}">Username</p>

<h2>User Info</h2>

<div>
    <form id="follow-button" th:if="${isFollowing == false}" th:action="${'/follow/' + appUserId}" th:method="PUT">

        <input class="button" type="submit" th:value="${'Follow ' + appUsername} " th:d="${isFollowing == true}">
    </form>
    <li id="following-text" th:if="${isFollowing == true}"
        th:text="${ 'Following ' + appUsername}"></li>
</div>

<p th:text="${user}"></p>

<h2>User Posts</h2>

<ul th:each="posts : ${post}">
    <li th:text="${'Post: '+ posts.text + ' Date: '+ posts.createdAt}"></li>
</ul>

</body>
</html>